.button {
    padding: 6px 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    color: #fff;
    font-weight: 600;

    transition: background-color 0.5s, border-color 0.5s;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;

    &:hover {
        background-color: #1a1d1a;
        border-color: #1a1d1a;
    }

    &:disabled {
        cursor: default;
    }

    &:focus {
        box-shadow: var(--focus-outline);
    }
    &--icon {
        padding: 6px;
    }
    &--outlined {
        background-color: transparent;
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
        &:hover {
            background-color: #8ab0ab28;
        }
    }
    &--fluid {
        min-width: 100%;
    }
}
