.page-header {
    display: flex;
    flex-direction: column;

    .actions {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    @media screen and(min-width: 700px) {
        flex-direction: row;
        justify-content: space-between;

        .title {
            max-width: 30%;
        }

        .actions {
            max-width: 70%;
            justify-content: flex-end;
        }
    }
}
