.select {
    padding: 6px 12px;
    min-width: 100%;

    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: var(--border-radius);

    background-color: transparent;
    outline: 0;

    .option {
        background-color: #fff;
    }

    &:focus {
        box-shadow: var(--focus-outline);
    }
    &:disabled {
        opacity: var(--disabled-opacity);
    }
    &--error {
        border-color: var(--error);
        color: var(--error);

        font-weight: 400;
        &:focus {
            box-shadow: var(--error-focus-outline);
        }
    }
}
